# Compiled Object files
*.slo
*.lo
*.o

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
data/*
doc/*
zip/*
*.mat
tmp/case1/*
tmp/case3/*
*.asv
hw1/data/*.MOV
hw1/data/__MACOSX/*
hw1/tmp/*
hw1/doc/*
hw1/zip/*
hw1/code/tmp/hw1/*
hw1/data/new/*
hw1/data/new2/*
